.btn {
  border-radius: 12px;
  width: 100%;
  text-align: left;
  height: 42px;
  background: transparent;
  color: var(--color-text);
}

.btn-active {
  background-color: var(--color-button);
  color: var(--color-white);
}